.container-img{
  width: 80%;
  display: block;
  margin: auto;
  position: relative;
  padding: 50px;
  transform: scale(1.2) translate(0, 255px);

}

.text-form{
  width: 70%;
  padding: 30px;
  position: absolute;
}
.banner{
  width:50%;
  height: 400px;
  background:orange;
  position:relative;
  z-index: 1;
  align-self: flex-end;
  left: 700px;
  border:5px solid yellow;
 bottom:0;

}
.title-large{
  font-size: 50px;
  color: red;
  text-transform: uppercase;

}

.text-p{
  font-size: 30px;

}
.btn{
  width: 50%;
  height: 40px;
  border: 5px solid white;
  font-size: 20px;
  text-transform: uppercase;
  background-color: orange;
}